<ion-header>

  <ion-navbar color="danger">
    <ion-title *ngIf="!searchBar">
      contas
    </ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItem($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor="let conta of orcamento">
            <ion-item >
              Placa : {{conta.placa}}<br>
             Valor Total:R${{conta.valorTotal}}<br>
             Lucro:R$ {{conta.lucro}}
             
            </ion-item>
            <ion-item-options>
              <button  ion-button color="danger"  (click)="delet(conta.id)" >Excluir</button>
              <button ion-button color="danger" (click)="delet(conta.id)">Editar</button>
       
            </ion-item-options>
      
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer>  
    <ion-toolbar>
      <ion-title  ><a id="lucro" > Lucro: R${{sLucro}}</a></ion-title>
    </ion-toolbar>
  </ion-footer>

 
  <ion-fab right bottom >
    <button ion-fab color="danger" (click)="openorcamento()">
      <ion-icon name="add" ></ion-icon>
    </button>
  </ion-fab>
</ion-content>
