page-contas {
     .toggle{
        position: absolute;
        margin: left;
        
    }
    .titulo{
        position: absolute;
        left: 31%;
        top: 30%;
    }
    #lucro{
        color: red;
    }
}
