page-galeria {
        .toggle{
        position: absolute;
        margin: left;
    }
    .titulo{
        position: absolute;
        left: 36%;
        top: 25%;
    }

    .fotos{
        width: 200px;
    }

    .grid{
        position:absolut;
    
    }
     img {
        width: 100%;
    }
}
